
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 0;
  background-color: #e6faee;
  margin-left: 0;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-left: 0;
 
}


.dropdown-toggle::after {
  display: none;
  font-family: "Playfair Display", serif;

}

.select_box {
  width: 600px;
  position: relative;
  border-radius: transparent;
  overflow: hidden;
  /* border: 1px solid #000; */
  padding: 15px 32px;

  left: 100px;
  right: 200px;
  padding: 10px 0;
}

.select_box select
{
  display: block;
}
.select_box option
{
  display: block;
}
.select_box select {
  width: 220px;
  border: none;
  outline: none;
  text-align: right;
  background: none;
}


.navbar {
  width: auto;
  height: 92px;
  background-color: #ffffff;
}

.navbar2 {
  width: auto;
  height: 82.75px;
  background-color: #e6faee;

} */

#navbar {
  transition: 0.3s ease-in-out;
}
/* 
.nav-align {
  margin-top: 10px;
  min-width: 3%;
  padding-left: 0;
  margin-left: 20px;
  width: 50%;
  overflow: hidden;
} */

.applybtn {

  background: #ffffff;
  border: 1px solid #01bd4e;
  border-radius: 5px;
  color: #01bd4e;
  font-weight: 400;
  padding: 8px 12px;
}

.exgreenbtn {
  color: #044b21;
}

/* Navbar */
.find-btn {
  margin-right: 70px;
  background-color: #01bd4e;
  border: 1px solid #01bd4e;
  padding: 8px 18px;
  color:white;
}

.secondnav {
  padding-top: 200px;
  padding-bottom: 70px;
  min-width: 1%;
  display: flex;
  text-align: center;
}

/* man-data*/
#man {
  background-color: #fff;
}

.manhead {
  font-weight: 500;
  font-size: 60px;
  line-height: 80px;
  color: #01bd4e;
}

.manimg {
  width: 680px;
  height: 567px;
}

.mancontainer {
  position: relative; 
   left: 20px; 

}

.manabout {
  position: absolute;
  top: 140px;
  right: 0px;

}
/* About*/
.aboutsec {
  text-align: center;
  top: 140px;
  right: 90px;
}

.mid {
  text-align: center;
}

.ac {
  text-align: center;
}

.aboutcontiner {

  padding: 10px 100px;
  margin-top: 10px;
  text-align: center;
  text-align: justify;


}

/* projects */
#project {
  background-color: rgb(250, 245, 245);
  height: 100%;
  min-width: 0;
  top: 0;
  padding: 1;
}

.pc {
  padding: 120px 0px;
}

.cc {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0px;
  column-gap: 50px;
  padding-left: 0px;
  row-gap: 50px;
  margin: 0px 110px;
}

.tcards {
  background-color: #e6faee;
  border-radius: 10px;
  padding: 20px;

}
.cicon {
  color: #fff;

}

.iconbg {
  color: #01bd4e;
  font-size: 70px;
  /* border-radius: 100%;
    width: 4px;
    height: 10px; */
}

/*  experts*/
#expert {
  background-color: #fff;
  margin-left: 2px;
  padding: 100px 10px 100px 0px;
  top: 1px;
  height: 100%;
}

.card-img {
  overflow: hidden;
  height: 200px;
  border-radius: 10px 2x 0px 0px ;
  object-fit: cover;
  background-position: center center;
}

/* demo */
.expbox{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 10px;
  position: relative;
  left: 610px;
  top: -100px;
  
}

.newexbox{
  border: 1px solid rgba(79, 79, 79, 0.3); 
  position: relative;
  top: 70px;
  width: 300;
height: 170px;
display: inline-flex;
}

.exboxcon.expertboximg{
       width: 210px;
       height: 170px;

}

.expbox_heading{
  font-weight: 500;
  font-size: 19px;
  width: 140px;
  position: relative;
  top: 20px;
  left: 25px;

}
.expbox_para{
  font-weight: 400;
  font-size: 14px;
  position: relative;
  top: 10px;

}
 
/*  how does it work?*/
#how-does-it-work {
  margin: 0p;
  padding: 80px 0px;
   top:0;
}

.dotbg {
  font-size: 25px;
  color: #fff;
  padding: 10px 25px;
  border-radius: 50%;
  background-color: #01bd4e;
}
.dot {
  top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
  gap: 2x;
}
.expbtn {
  top: 10px;
  margin-left: 2px;
  padding-left: 90px;
  padding-right: 90px;
  top: 10px;
  margin-right: 2px;
}

.workimg {
  width: 600px;
}

/* contact */

#ContactUs {
  top: 10px;
  margin-left: 2px;
  padding: 100px 10px 100px 10px;
  background-color: #fff;
}
/* demo*/
.contaheading{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: relative;
  left: 560px;

}

 
.contbutton{
  width: 100px;
  height: 56px;
  background:    #01bd4e;
  border-radius: 6px;
  position: relative;
  left: 775px;
  top: 7px;
  border: none;
  color: white;
} */

/* footer */

.icoon {
  margin-left: 290px;
  float: right;
}

footer {
  background-color: #01bd4e;
  margin-left: 0px;
  padding-top: 200;
  padding: 50px 10px 20px 0px;
}

.fc {
  margin-left: 20px;
  display: grid;
  column-gap: 25px;
  padding-top: 200;
  justify-items: center;
  font-size: 20px;
  grid-template-columns:
    repeat(5, 2fr);
}

.sicon {
  color: rgb(255, 255, 255);
  margin: auto;
}

.flogo {
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.footerfontcolor {
  color: rgb(255, 255, 255);
}

.footerheadingcolor {
  color: #4F4F4F;
}

.socialicons {
  font-size: 20px;

  padding: 10px 10px;
  background-color: white;
  color: #01bd4e;
  border-radius: 100%;
}

.footerheadings ul {
  width: 250px;
}

.footerheadings li,
a {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  margin: 10px 0px;
  line-height: 21px;
}
